<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Icon-button with menu icon to open menu sidenav"
    (click)="sideNavOpen = !sideNavOpen; drawer.toggle()"
    class="sidenav-toggle"
  >
    <mat-icon *ngIf="!sideNavOpen">menu</mat-icon>
    <mat-icon *ngIf="sideNavOpen">close</mat-icon>
  </button>
  <mat-icon class="ul-logo" svgIcon="ul_solutions_logo"></mat-icon>
</mat-toolbar>
<mat-sidenav-container class="material-sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side">
    <mat-nav-list class="pl-0 pr-0">
      <mat-list-item class="w-full">
        <mat-icon>home</mat-icon>
        <a [routerLink]="['/home']">Home</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <div class="text-3xl font-bold underline">Hello world!</div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
