.material-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.sidenav {
  padding: 20px;
}

.sidenav-toggle {
  margin-right: 60px;
}

.ul-logo {
  transform: scale(5.5);
}
